
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f60303;
    transition: 0.6s;
}

body.active{
    background: #f86834;
}

.container{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
    /* background: #ff0; */
}

.blue-bg{
    position: absolute;
    top: 40px;
    right: 0;
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.95);
    font-family: 'Times New Roman', Times, serif;
}

.blue-bg .box{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blue-bg .box h2{
    color: #fff;
    font-size: 1.6em;
    font-weight: 700;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.blue-bg .box button{
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}

.formBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 110%;
    background: #fff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.formBx.active{
    left: 50%;
}

.formBx .form{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
}

.formBx .loginform{
    transition-delay: 0.15s;
}

.formBx.active .loginform{
    left: -100%;
    transition-delay: 0s;
}

.formBx .registerform{
    left: 100%;
    transition-delay: 0s;
}

.formBx.active .registerform{
    left: 0; 
    transition-delay: 0.25s;
}

.formBx .form form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formBx .form form h3{
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

.formBx .form form input{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #333;
}

.formBx .form form input[type="submit"]{
    background:  #f61027;
    border: none;
    color: #fff;
    max-width: 100px;
    cursor: pointer;
}

.formBx.active .registerform input[type="submit"]{
    background: #f86834;
}

.formBx .form form .forgot{
    color: #333;
}

@media (max-width: 991px){
    .container{
    max-width: 400px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .blue-bg{
    top: 0;
    height: 100%; 
}
.formBx{
    width: 100%;
    height: 500px;
    top: 0;
    box-shadow: none;
}
.blue-bg .box{
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
}
.box.login{
    top: 0;
}
.formBx.active{
    left: 0;
    top: 150px;
}
}